.letra{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(231, 235, 238);
    
}
.corpo{
  background-color: rgb(95, 79, 63);
  text-align: center;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
.box{

    float: left;
    width: 400px;
  }
  
  img{
    width: 100%;
  }

.dive{
    align-items: center;
}

.equi{
    float: left;
    width: 400px;
    
  }
  
  img{
    
    width: 100%;
  }
  .button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }